
.header-controllers {
     display: flex;
     align-content: center;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 1.5rem;
}
.cta-controller {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 3rem;
}
.outline-button {
     border-radius: 1.5rem;
     padding: 0.5rem 1rem;
     font-size: 1.2rem;
     font-weight: 800;
     color: var(--light-red);
     background: var(--white);
     transition: all 0.2s ease-in-out;
     cursor: pointer;
}
.inline-button {
     border-radius: 1.5rem;
     padding: 0.5rem 1rem;
     border: .1rem solid var(--white);
     font-size: 1.2rem;
     font-weight: 800;
     color: var(--white);
     background: transparent;
     transition: all 0.2s ease-in-out;
     cursor: pointer;
}
.header-wrapper {
     background: url("../src/pages/blogr-land/images/bg-pattern-intro-mobile.svg") center center var(--bg-gradient-red-cta);
     padding: 2rem 2rem 8rem;
     border-bottom-left-radius: 4rem;
     color: var(--white);
}
